# Python
__pycache__/
*.py[cod]
*.egg-info/
.cache/
.mypy_cache/
.pytest_cache/

# Envs & lokala saker
.venv/
env/
.venv*/
venv*/
*.env
*.env.*
/etc/dalatrader.env

# Streamlit & lokalt
.streamlit/
*.log

# Data/outputs
outputs/
data/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
storage/
storage/*.db
